{% extends 'student/base.html' %}
{% block title %}{% endblock %}

{% block content %}
    <form action="/student/do_add/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="info">增加学生(student)</h1>
        <table class="table">
            <tr class="form-group">
                <td><lable>学号:</lable><input type="text" name="no" class="form-control form-text" placeholder="" required value="{{ next_no }}"></td>
            </tr>
            <tr class="form-group">
                <td><lable>姓名:</lable><input type="text" name="name" class="form-control form-text" placeholder="" required></td>
            </tr>
            <tr class="form-group">
                <td><lable>年龄:</lable><input type="text" name="age" class="form-control form-text" placeholder="" required></td>
            </tr>
            <tr class="form-group">
                <td><lable>性别:</lable>
                    <select name="gender" class="stu_gender">
                        <option value="0">未选择</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                        <option value="3">保密</option>
                    </select>
                </td>
            </tr>
            <tr class="form-group">
                <td><lable>电话号码:</lable><input type="text" name="phone" class="form-control form-text" placeholder="" required></td>
            </tr>
            <tr class="form-group">
                <td><lable>头像:</lable><input type="file" name="avatar" class="form-control form-text" placeholder="" required></td>
            </tr>
        </table>
        <div class="form-group"><button type="submit" name="avatar" class="btn btn-primary" placeholder="" required>提交</button></div>
    </form>
{% endblock %}


















<!--{#<!DOCTYPE html>#}
{#<html lang="zh">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>添加学生</title>#}
{#    <!-- 引用bootstrap -->#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>#}
{#    <!-- font awesome 字体图标 -->#}
{#    <script src="https://kit.fontawesome.com/1d022799c7.js"></script>#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#    <h1 class="info">添加学生(student)</h1>#}
{#    <table class="table">#}
{#        <tr>#}
{#            <td><label class="required" for student_id>学号:</label><input type="text" class=""></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><label class="required" student_name>姓名:</label><input type="text" class=""></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><label class="required" student_age>年龄:</label><input type="text" class=""></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><label class="required" student_gender>性别:</label><input type="text" class=""></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><label class="required" student_phone>电话号码:</label><input type="text" class=""></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td><label class="required">头像:</label><input type="text" class=""></td>#}
{#        </tr>#}
{#    </table>#}
{#</div>#}
{##}
{#</body>#}
{#</html>#}-->
